[submodule "RELATIONAL_DATABASE"]
	path = RELATIONAL_DATABASE
	url = https://github.com/Manisha-sharda-Prasad/RELATIONAL_DATABASE.git
[submodule "python-projects"]
	path = PYTHON
	url = https://github.com/Manisha-sharda-Prasad/PYTHON_PROJECT.git
